h1{
     font-size: 30px;
     color: white;
     text-align: center;
     font-family: georgia;
     font-weight: bold;
     border-bottom: 2px solid white;
     margin-left: 10%;
     height: 50px;
     width: 80%;
}
 p {
     font-size: 20px;
     color: white;
     font-family: georgia;
     margin-left: 10%;
     width: 80%;
     text-align: left;
}
 ul {
     padding: 0;
     margin:0;
     display: inline-block;
}
 li {
     float: left;
     display:block;
     text-align: left;
     border-style: transparent;
     background-color: transparent;
     padding-top: 8px;
     padding-bottom: 8px;
     font-size: 20px;
     color: white;
     font-family: georgia;
     width: 100%;
     font-style: italic;
}
 div {
     text-align: left;
     margin-left: 10%;
}
 html{
     background-color: black;
}
